@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');


* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border: 0;
    box-sizing: border-box;
}


html body {
    font-family: 'Quicksand', sans-serif;
    line-height: 2;
    background: hsl(250, 81%, 8%);
    color: white;
}

main {
    width: 100%;
    height: auto;
    
}

.container-fluid {
    width: 80%;
    max-width: 400px;
    margin: auto;
}

.icon img {
    width: 25px;
    height: 25px;
}


.form-index {
    width: 400px; 
    height: 150px; 
    left: 50%; 
    margin: -130px 0 0 -210px; 
    padding: 40px;
    position: absolute;
    display: inline-block;
    top: 40%;
}



.btn {
    margin-top: 10px;
}
